.shelf {
display:inline-block;
width:100px;
height: 500px;
margin: 0 10px 0 10px;
border:3px solid brown;
top: 5x;
vertical-align: top;
}
.container {
display:block;
width:auto;
height:auto;
}
.shelfcontainer{
width: auto;
display: inline-block;
position: relative;
}
.stats
{
width:100px;
height:100px;
display:block;
position:absolute;
margin: 0 10px 0 10px;
bottom:0;
border:2px solid brown;
overflow:hidden;
}
.boxb {
display:inline-block;
position:absolute;
top:50px;
border:2px solid black;
width:100px;
height:30px;
background-color:grey;
color: white;
font-size: 1.5em;
}
.boxi {
display:inline-block;
position:relative;
vertical-align:bottom;
border:2px solid black;
width:95px;
height:30px;
background-color:grey;
color: white;
font-size: 1.5em;
}
#top1,#top2,#top3,#top4,#top5
{
cursor:move;
background-color:yellow;
color:black;

}
.deletezone
{
display:block;
width:150px;
height:150px;
background-color:grey;
color:white;
text-align:center;
position:absolute;
top:50px;
left:50px;
}